﻿@model testClientBillModels.Users

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal container">
        <h4>New User</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserUsername, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserUsername, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserUsername, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <br/><br />

        
        <div class="row">
            <div class="col-lg-offset-1">
                <div class="form-group btn-group">
                    <button type="submit" class="btn btn-success" value="AddBill">Create</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-danger" onclick="location.href = '@Url.Action("Login", "Login")';">Go Back</button>
                </div>
            </div>
        </div>  
    </div>
}
