﻿@model List<testClientBillModels.Clients>
@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    <script>
        
        
    </script>
}
    <br/>
    <div class="jumbotron">
        <div class="row">
            <h1>Web App Client-Bill</h1>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <button type="button" class="btn btn-primary" style="width: 100%;"
                        data-toggle="modal" data-target="#modalNewBill" id="modalNewBillOpen">
                    <em class="fa fa-plus-square-o"> New Bill</em>
                </button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Clients</h2>
            </div>
        </div>
        <!--Clients Table-->
        <div class="row">
            <div class="col-ld-12">
                <table class="table table-striped table-bordered table-list" id="ClientsDataTable">
                    <thead>
                    <tr>
                        <th id="hide-col">id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (testClientBillModels.Clients client in Model)
                    {
                        <tr>
                            <td id="hide-col">@client.IdClient</td>
                            <td>@client.ClientFirstName @client.ClientLastName</td>
                            <td>@client.ClientEmail</td>
                            <td>@client.ClientPhone</td>
                            <td>@client.ClientAddress</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <!--Bills Table-->
        <div class="row">
            <div class="col-xs-12">
                <h2>Bills</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-ld-12">
                <table class="table table-striped table-bordered table-list" id="BillsDataTable">
                    <thead>
                    <tr>
                        <th>Client Name</th>
                        <th>Bill Number</th>
                        <th>Date</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <!--Bills Detail Table-->
        <div class="row">
            <div class="col-xs-12">
                <h2>Bill's Details</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-ld-12">
                <table class="table table-striped table-bordered table-list" id="DetailDataTable">
                    <thead>
                    <tr>
                        <th>Bill Number</th>
                        <th>Detail Number</th>
                        <th>Id Product</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Total Detail</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <!--Detail Products Table-->
        <div class="row">
            <div class="col-xs-12">
                <h2>Detail's Prodcuts</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-ld-12">
                <table class="table table-striped table-bordered table-list" id="ProductsDataTable">
                    <thead>
                    <tr>
                        <th>Id Product</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Stock</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="btn-group col-lg-offset-5">
                <a href="@Url.Action("Index", "Home")" aria-label="Clear" class="btn btn-default"><em class="fa fa-eraser"></em> Clear Search</a>
            </div>
        </div>

    </div>
    <!--Modal New Bill-->
    <div class="modal fade" id="modalNewBill" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <!--Modal Header-->
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">You Are About to Make a New Bill</h4>
                </div>
                <div class="modal-body">
                    <!--Modal Body-->
                    <div class="container">
                        <div class="container">
                            <!--Client Section-->
                            <div class="row">
                                <h2>Client</h2>
                                <hr/>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 selectContainer">
                                    <!--Client Selection-->
                                    <h3>Select a client</h3>
                                    <div>
                                        <input type="text" name="ClientName" id="partialSearch" class="form-control">
                                        <datalist id="clientSearch"></datalist>
                                    </div>
                                    <br/>
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#newClientModal">Add new Client</button>
                                </div>
                                <div class="col-xs-6">
                                    <div class="card" id="clientCard">
                                        <img src="~/Content/img/img.jpg" alt="John" style="width: 20rem">
                                        <div class="card-block">
                                            <p class="card-text hidden" id="cardTextClientId"></p>
                                            <h4 class="card-title" id="cardTitleText"></h4>
                                            <p class="card-text" id="cardTextAddress"></p>
                                            <p class="card-text" id="cardTextMail"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <!--Products Selection-->
                            <div class="row">
                                <h2>Products</h2>
                                <hr/>
                            </div>
                            <div class="col-ld-12">
                                <div class="form-group">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <label>Select a Product:</label>
                                                <table class="table table-striped table-bordered table-list" id="modalNewBillAddProductsTable">
                                                    <thead>
                                                    <tr>
                                                        <th class="hidden">IdProduct</th>
                                                        <th>Name</th>
                                                        <th>Price</th>
                                                        <th>Stock</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="btn-group right" style="margin-right: 20%;float: right;">
                                                    <button type="button" class="btn btn-info" id="firstPage"><em class="fa fa-angle-double-left"></em></button>
                                                    <button type="button" class="btn btn-info" id="previousPage"><em class="fa fa-angle-left"></em></button>
                                                    <button type="button" class="btn btn-info" id="pageOne"> 1 </button>
                                                    <button type="button" class="btn btn-info" id="pageTwo"> 2 </button>
                                                    <button type="button" class="btn btn-info" id="pageThree"> 3 </button>
                                                    <button type="button" class="btn btn-info" id="pageFour"> 4 </button>
                                                    <button type="button" class="btn btn-info" id="pageFive"> 5 </button>
                                                    <button type="button" class="btn btn-info" id="nextPage"><em class="fa fa-angle-right"></em></button>
                                                    <button type="button" class="btn btn-info" id="lastPage"><em class="fa fa-angle-double-right"></em></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="container">
                                        <!--Products Deselection-->
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <label>Products Selected:</label>
                                                    <table class="table table-striped table-bordered table-list" id="modalNewBillSelectedProductsTable">
                                                        <thead>
                                                        <tr>
                                                            <th class="hidden">IdProduct</th>
                                                            <th>Name</th>
                                                            <th>Price</th>
                                                            <th>Stock</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <!--Button to create new Bill-->
                                                        <button type="button" class="btn btn-success" style="width: 100%;" id="btnModalNewBillAddDetail">Add Detail</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="container">
                                    <!--Bill Details-->
                                    <div class="row">
                                        <h2>Detail</h2>
                                        <hr/>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label class="control-label">Bill Detail:</label>
                                            <table class="table table-striped table-bordered table-list" id="modalNewBillSelectedDetailsAdded">
                                                <thead>
                                                <tr>
                                                    <th class="hidden">IdProduct</th>
                                                    <th>Product name</th>
                                                    <th>Quantity</th>
                                                    <th>Total</th>
                                                </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-success" style="width: 100%;" id="btnModalNewBillValidate">Validate</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 text-center ">
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-success disabled" style="width: 100%;" id="btnModalNewBillCreate">Create new Bill</button>
                                </div>
                                <div class="col-xs-6">
                                    <button type="submit" class="btn btn-danger" style="width: 100%;" id="btnModalNewBillClose">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="newClientModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">New Client</h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="container">
                        <div class="col-sm-12">
                            <div class="container">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">First Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="firstName" placeholder="First Name"/>
                                        </div>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                            <div class="container">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Last Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="lastName" placeholder="Last Name"/>
                                        </div>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                            <div class="container">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="email" placeholder="Email"/>
                                        </div>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                            <div class="container">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Phone</label>
                                        <div class="col-sm-10">
                                            <input type="tel" class="form-control" id="phone" placeholder="(___)___-____"/>
                                        </div>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                            <div class="container">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Address</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="address" placeholder="Address"/>
                                        </div>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="newClientModalBtn">Create</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="newClientModalClose">Close</button>
                </div>
            </div>
        </div>
    </div>


