﻿@model testClientBillModels.Bills

@{
    ViewBag.Title = "Adds";
}


@using (Html.BeginForm("AddBill", "Bills", FormMethod.Post))
{
    <div class="form-horizontal">
        <h4>Add Bill</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.IdClient, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdClient, new
                {htmlAttributes = new{
                   @class = "form-control",
                   @readonly = "readonly",
                   @value=Model.IdClient
                }
                })
                @Html.ValidationMessageFor(model => model.IdClient, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdBill, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdBill, new
           {
               htmlAttributes = new
               {
                   @class = "form-control",
                   @readonly = "readonly",
                   @value = Model.IdBill
               }
           })
                @Html.ValidationMessageFor(model => model.IdBill, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.TextBoxFor(model => model.BillDate, new
           {
               @class = "form-control",
               @type = "date",
               @id = "billDate",
               @name = "BillDate",
               htmlAttributes = new { @class = "form-control" }
           })
                @Html.ValidationMessageFor(model => model.BillDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BillNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillTotal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillTotal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BillTotal, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-offset-2 col-md-10">
            <button type="submit"  class="btn btn-success" value="AddBill">Add new Bill</button>
            <button type="reset" class="btn btn-default">Reset</button>
            <button type="button" class="btn btn-danger" onclick="location.href = '@Url.Action("Index", "Home")';">Go Back</button>
        </div>
    </div>
}


