﻿@model List<testClientBillModels.ClientBill>

@{
    ViewBag.Title = "ClientBills";
}

<div class="row">
    <div class="col-ld-12">
        <div class="row">
            <div class="col-ld-12">
                <h2>Client Bill</h2>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group btn-group" id="btn-table">
                    <button type="button" class="btn btn-danger" onclick="location.href = '@Url.Action("Index", "Home")';">Go Back</button>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-list" id="BillsDataTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Bill Number</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Unitary Price</th>
                <th>Total Product</th>
                <th>Total Bill</th>
            </tr>
            </thead>
            <tbody>
            @foreach (testClientBillModels.ClientBill clientBill in Model)
            {
                <tr>
                    <td>@clientBill.ClientFirstName , @clientBill.ClientLastName</td>
                    <td>@clientBill.BillDate</td>
                    <td>@clientBill.BillNumber</td>
                    <td>@clientBill.Name</td>
                    <td>@clientBill.Quantity</td>
                    <td>@clientBill.Price</td>
                    <td>@clientBill.TotalDetail</td>
                    <td>@clientBill.BillTotal</td>
                </tr>
            }
            </tbody>


        </table>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group btn-group" id="btn-table">
                <button type="button" class="btn btn-danger" onclick="location.href = '@Url.Action("Index", "Home")';">Go Back</button>
            </div>
        </div>
    </div>  

</div>